* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #084454;
  --secondary-color: #36454F;
}

body {
  background-color: var(--primary-color);
  height: 100%;
  background-image: url('');
}

.main {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, transparent, #084454 ), url(./bg4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: start;
}

.header {
  background-color: var(--primary-color);
  width: 18%; /* Set the width of the sidebar */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* Add padding for styling */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

nav ul {
  display: flex;
  padding: 50px 20px;
  flex-direction: column; /* Stack items vertically */
  justify-content: space-between;
  height: 300px;
  
}

nav ul li {
 
  list-style-type: none;
  margin-bottom: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.2rem 0.6rem;
  position: relative;
}
nav ul li a:hover{
  opacity: 0.5;
  transition: ease-in-out 0.3s;
}
nav ul li a::before{
  content: "";
  position: absolute;
  top:-10px;
  left:50%;
  height: 3px;
  width:0;
  transform: translateX(-50%);
  background-color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}
nav ul li a:hover:before{
width:100%;
}
nav ul li a:focus{
background-color: var(--primary-color);
opacity: 0.2px;
border-radius: 20px;
}
nav ul li a:focus::before{
width: 0%;
}
.search-btn {
  display: flex;
  margin-top: 1rem;
  border-radius: 60px;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
 
  padding: 10px 0px;
}

.inputText {
  background: transparent;
  flex: 1;
  border: none;
  outline: none;
  font-size: 15px;
  color: #cac7ff;
  padding: 5px 20px;
  text-align: center;
}

.inputText::placeholder {
  color: #cac7ff;
}

 
.container {
  padding: 10px 70px;
  margin: auto;
  width: 80%;
  height: 100%;
  display: flex;
/* Set flex-direction to row */
  justify-content: center; /* Adjust as needed */
  /* Align items to the start of the flex container */
  flex-wrap: wrap;
}

.movie {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  width: calc(33.33% - 2rem); /* Adjust the width and margin as needed */
  margin: 1rem;
  background-color: var(--secondary-color);
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.movie .poster {
  width: 100%;
  height: 250px;
}
.poster:hover{
  transform: scale(1.1) rotate(-1deg);
}
.movie-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-details .box {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.movie-details .title {
  width: 160px;
  text-align: center;
}
.title{
  color: #c2d4e1;
}
.rating {
  background-color: var(--primary-color);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: 1px solid var(--primary-color);
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 1);
  right: 5px;
  bottom: 5px;
  color: #cac7ff;
}


.footer{
  background-color: #c2d4e1;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  
}
.footer a{
  text-decoration: none;
  color: #023020;
}

/* ... Other styles ... */

@media (max-width:900px){
.main{
  display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 
}
  .header{
      background-color: var(--secondary-color);
      height: 180px;
     flex-direction: row;
     width: 100%;
     justify-content: center;
     align-items: center;
     
  }
  
  nav ul{
    display: flex;
      flex-direction: column;
      height: auto;
  }
  nav ul li{
      padding-top: 10px;
  }
  .search-btn{
      width: 200px;
      margin-right: 100px;
  }
  .footer{
    width: 100%;
    align-items: center;
    flex-direction: column;
  justify-content: space-evenly
  }
}
.notfound{
  font-size: 40px;
  font-weight: bold;
}
/* 
css per kta tjt */
/* 
testt
est */

/* teste */

.modal-overlay {
 position:fixed;
  top: 10;
  left: 100;
  width: 60%;
  height: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.modal {
  margin-top: auto;
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid beige;
  box-shadow: 10px 10px 10px black;
}
.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.modal-header h3 {
  margin: 0;
  color: white;
  padding-right: 20px;
}

.secondclass{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  color: white;
}
.modal_body_img{
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.modal_body_p{
  width: 50%;
}
.modal-body img {
  width: 30%;
  background-position: center;
  background-size: cover;
  max-height: 300px;
}
.modal_body_p{
  text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
  border-top: 1px solid cadetblue;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid cadetblue;
  width: 100%;
  height: 100%;
}

.modal-header button {
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  color: white;
 
}
.titulli_x{
  border-radius: 30px;
  border: 1px solid cadetblue;
  padding: 3px 10px;
  border-width: 3px;
 
}
.img-fluid{
  box-shadow: 10px 10px 10px cadetblue;

}